<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302952092267-pvloidcqcutoevvfqa0n7p06gv4v7ntg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302952092267-pvloidcqcutoevvfqa0n7p06gv4v7ntg</string>
	<key>API_KEY</key>
	<string>AIzaSyDspzIQlhL-B4oqpHPEQNTKQSFiessaUiM</string>
	<key>GCM_SENDER_ID</key>
	<string>302952092267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>canaan.cubMobile</string>
	<key>PROJECT_ID</key>
	<string>cub-mobile-60401</string>
	<key>STORAGE_BUCKET</key>
	<string>cub-mobile-60401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302952092267:ios:240ddac7bfc4298a9b172e</string>
	<key>DATABASE_URL</key>
	<string>https://cub-mobile-60401.firebaseio.com</string>
</dict>
</plist>